body {
  margin: 0;
}
.wrapper {
  font-size: 2rem;
}
nav {
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  padding: 20px 20px 10px;
}
a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
form {
  margin-bottom: 2rem;
}
